---
background-color: "#fefdfa"
text-color: "#494f00"
---
@import "{{ site.theme }}";

/** overwriting the minima theme */

body {
    background-color: {{ page.background-color }};
    font-family: Courier New, Courier, monospace;
    color: {{ page.text-color }};
    font-size: 13pt;
}

/** links */
a:link {
    color: {{ page.text-color }};
    font-weight: bold;
    text-decoration: underline;
}

a:visited {
    color: {{ page.text-color }};
}

a:hover {
    background-color: #e0dfd2;
}

.site-title, .site-title:visited { 
    color: {{ page.text-color }} 
}
.social-media-list a:hover .username { 
    text-decoration: none; 
}

.site-nav .page-link {
    color: {{ page.text-color }};
}

/** images */
img.border {
    border: solid 1px;
    border-radius: 10px;
}

img.center {
    display: block;
    margin: auto;
}

/** footer */
#footer-info {
    font-size: smaller;
    display: block;
    text-align: center;
}

/** other */
::selection {
    background-color: #e0dfd2;
}

.caption {
    text-align: center;
    padding-bottom: 20px;
    font-size: smaller;
}